<!--<div class="choices-page">

    <div class ="containerOptions">
        
            <div class="item"><h3>{{question.id.optionText1}}</h3></div>
            <div class="item"><h3>{{question.id.optionText2}}</h3></div>
            <div class="item">{{question.optionText3}}</div>
            <div class="item">{{question.optionText4}}</div>
            <div class="item">{{question.optionText5}}</div>
                
        </div>   
        <router-outlet></router-outlet>
    </div>
    
-->
    

















 <!--<a routerLink = "/questions/{{question.id}}"> ></a>

    /questions{{question.id}}/choices{{question.options}}/
            
            <div *ngFor= "let question of questions.texts" >
                
            <div class="item">
            <div class="containerOptions">
            
                <div class="item">{{question.optionText1}}</div>
                <div class="item">{{question.options}}</div>
                <div class="item">{{question.id.options.id}}</div>
                <div class="item">{{question.options.text}}</div>
                <div class="item">{{question.title}}</div>
        </div>

            {{questions.options}}/choices/{{options.optionsText}}
            -->