

    <div class="questions-page">

        <div class ="containerQuestion">
            <div class="question">
                <div *ngFor= "let question of questions.texts" >
                    <div>
                        <h1><a routerLink = "/questions/{{question.id}}">{{question.text}}</a></h1>
                    </div>
                </div>
             </div>    
        </div>

        <div class="containerOptions">
            
                <div class="item">{{question.id}}</div>
                <div class="item">{{question.options}}</div>
                <div class="item">{{question.id.options.id}}</div>
                <div class="item">{{question.options.text}}</div>
                <div class="item">{{question.title}}</div>
        </div>

        <div class="containerButtons">
            <button submit class="buttonNext">NEXT</button>
    