

    
    
    <div class="options-page"><!--character-options-page-->

        <div class="containerOptions"><!--options=question-->
            
                <div class="item"id="choiceOne">{{options.charNum.choiceNum}}</div><!--set of options.number of whole set-->
                <div class="item"id="choiceTwo">{{options.charNum.choiceNum}}</div>
                <div class="item"id="choiceThree">{{options.charNum.choiceNum}}</div>
                <div class="item"id="choiceFour">{{options.charNum.choiceNum}}</div>
                <div class="item"id="choiceFive">{{options.charNum.choiceNum}}</div>

        </div>

        <div class="containerButtons">
            <div class="buttonNext"> NEXT</div>
        </div>


    </div>

    

    


    <!--
        <div class = "buttonPrevious">
        <a href="" class="previous">&#8249;</a>
    </div>

            <div class="choice">
            <div *ngFor= "let choiceNum of options.num" >
            <div class="router">
               <a routerLink = "/character-options/{{options.num}}/">"/character-options/{{options.nextNum}}</a>
            </div>
            </div>
            <router-outlet></router-outlet>
            </div>
        -->
    
    

